.container {
  .header {
    margin-top: 14px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-bottom: 15px;
  }
  .filters {
    margin-bottom: 15px;
  }
  .posts {
    margin-top: 15px;
  }
}
